{% extends "base.html" %}

{% block content %}

    {% include 'nav.html' %}

    <div class="container d-flex justify-content-center align-items-center flex-column mt-5">
        <h2 class="fw-light text-align-center">Forma de pagamento</h2>
        <div class="container mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="row row-cols-2 row-cols-lg-2">
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_employee" class="form-label">Funcionário:</label>
                        {{ new_formofpay_form.employee }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_pix" class="form-label">Pix:</label>
                        {{ new_formofpay_form.pix }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_bank" class="form-label">Banco:</label>
                        {{ new_formofpay_form.bank }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_typePix" class="form-label">Tipo de chave:</label>
                        {{ new_formofpay_form.type_pix }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_recipient_name" class="form-label">Titular:</label>
                        {{ new_formofpay_form.recipient_name }}
                    </div>
                </div>
                <div class="col-md-12 d-flex gap-2 mt-3">
                    <input type="submit" value="Cadastrar" class="btn btn-primary">
                    <input type="reset" value="Limpar Campos" class="btn btn-secondary">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
