{% extends "base.html" %}
{% block title %} ++ Cadastro de Usuários ++ {% endblock %}

{% block content %}
    <nav class="navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-center align-items-center  collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav gap-4">
                    <li><a type="button" link-underline-opacity-75-hover class="dropdown-item" href="#"><i class="fi fi-rr-user"> Cadastro de Funcionários</i></a></li>
                    <li><a class="dropdown-item" href="{% url 'register_address' %}"><i class="fi fi-rr-marker"></i> Endereço </a></li>
                    <li><a class="dropdown-item" href="{% url 'register_formofpayment' %}"><i class="fi fi-rr-dollar"></i> Chaves PIX </a></li>
                    <li><a class="dropdown-item" href="{% url 'register_contact' %}"><i class="fi fi-rr-phone-call"></i> Contatos </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container d-flex justify-content-center align-items-center flex-column mt-5">
        <h2 class="fw-light text-align-center">Cadastro de Funcionários</h2>
        <div class="container mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="row row-cols-2 row-cols-lg-2">
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_cpf" class="form-label">CPF:</label>
                        {{ new_person_form.cpf }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_name" class="form-label">Nome:</label>
                        {{ new_person_form.name }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_mother" class="form-label">Nome da mãe:</label>
                        {{ new_person_form.name_mother }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_birth_date" class="form-label">Data de nascimento:</label>
                        {{ new_person_form.birth_date }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_email" class="form-label">E-mail:</label>
                        {{ new_person_form.email }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_sex" class="form-label">Sexo:</label>
                        {{ new_person_form.sex }}
                    </div>
                </div>
                <div class="col-md-12 d-flex gap-2 mt-3">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <button type="reset" class="btn btn-success">Limpar Campos</button>
                </div>
            </div>
        </form>
    </div>
        </div>
        </form>
    </div>
{% endblock %}