{% extends "base.html" %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fi fi-rr-apps"></i> Dados Adicionais
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'register_address' %}"><i class="fi fi-rr-marker"></i> Endereço </a></li>
                            <li><a class="dropdown-item" href="{% url 'register_formofpayment' %}"><i class="fi fi-rr-dollar"></i> Chaves PIX </a></li>
                            <li><a class="dropdown-item" href="{% url 'register_contact' %}"><i class="fi fi-rr-phone-call"></i> Contatos </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Cadastrar Funcionário</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-12">
                    <label for="id_name" class="form-label">Nome:</label>
                    {{ new_person_form.name }}
                </div>
                <div class="col-md-12">
                    <label for="id_cpf" class="form-label">CPF:</label>
                    {{ new_person_form.cpf }}
                </div>
                <div class="col-md-12">
                    <label for="id_sex" class="form-label">Nome da mãe:</label>
                    {{ new_person_form.name_mother }}
                </div>
                <div class="col-md-12">
                    <label for="id_birth_date" class="form-label">Data de Nascimento:</label>
                    {{ new_person_form.birth_date }}
                </div>
                <div class="col-md-12">
                    <label for="id_email" class="form-label">E-mail:</label>
                    {{ new_person_form.email }}
                </div>
                <div class="col-md-12">
                    <label for="id_sex" class="form-label">Sexo:</label>
                    {{ new_person_form.sex }}
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <button type="reset" class="btn btn-secondary">Limpar Campos</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


<!-- lembrete tem campos faltantes  -->