.card-details {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-details-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.card-details-list-group {
    margin-bottom: 0;
}

.card-details-list-group-item {
    border: none;
    padding: 10px 0;
}

.card-details-list-group-item strong {
    color: #007bff;
}
