{% extends "global/base.html" %}
{% block title %}Cadastro de Usuario{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ form.username.errors }}
            <label>Usuario: </label>
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.password1.errors }}
            <label>Senha: </label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            {{ form.password2.errors }}
            <label>Confirmação de senha: </label>
            {{ form.password2}}
        </div>

        <div class="form-group">
            <input type="submit" value="Cadastrar">
        </div>
    </form>

{% endblock %}