{% extends "global/base.html" %}

{% block title %} Detalhes do Funcionário {% endblock %}

{% block content %}

  <div class="container d-flex justify-content-center mt-5">
    <div class="">
      <div class="row">
        <h3 class="card-details-title">Ficha Registro:</h3>
        <div class="col-md-6">
          <ul class="list-group card-details-list-group">
            <li class="list-group-item card-details-list-group-item"><strong>Nome:</strong> {{ object.name }}</li>
            <li class="list-group-item card-details-list-group-item"><strong>E-mail:</strong> {{ object.email }}</li>
            <li class="list-group-item card-details-list-group-item"><strong>CPF:</strong> {{ object.cpf }}</li>
            <li class="list-group-item card-details-list-group-item"><strong>Nome da mãe:</strong> {{ object.name_mother }}</li>
            {% if object.contactinfo %}
              <li class="list-group-item card-details-list-group-item"><strong>Número de telefone:</strong> {{ object.contactinfo.phone_number }}</li>
              <li class="list-group-item card-details-list-group-item"><strong>Contato de emergência:</strong> {{ object.contactinfo.emergency_contact_name }}</li>
              <li class="list-group-item card-details-list-group-item"><strong>Número de emergência:</strong> {{ object.contactinfo.emergency_contact_number }}</li>
            {% endif %}
            {% if object.address %}
              <li class="list-group-item card-details-list-group-item"><strong>Endereço:</strong> {{ object.address.street }}, {{ object.address.number }}, {{ object.address.city }}, {{ object.address.state }}, CEP: {{ object.address.postal_code }}</li>
            {% endif %}
            {% if object.formofpayment %}
              <li class="list-group-item card-details-list-group-item"><strong>PIX:</strong> {{ object.formofpayment.pix }} </li>
              <li class="list-group-item card-details-list-group-item"><strong>Tipo de chave PIX:</strong> {{ object.formofpayment.type_pix }} </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
