{% extends "global/base.html" %}
{% load static %}

{% block content %}

    <h1>Página Inicial</h1>
    <hr class="border border-primary border-2 opacity-75">
    <p>
        Nossa página inicial é o ponto de partida para explorar tudo o que nossa plataforma tem a oferecer. 
        <br>
        Apresentamos uma interface limpa e intuitiva, pronta para guiá-lo em sua jornada de gerenciamento de funcionarios.
        <br>
        Nesta página, você encontrará uma variedade de recursos e funcionalidades projetados para facilitar o gerenciamento de funcionarios.
        <br>
        Embora ainda não existam dashboards disponíveis, estamos constantemente trabalhando para aprimorar nossa plataforma e adicionar novos recursos que atendam às suas necessidades.
        <br>
        Fique atento às futuras atualizações, onde estaremos introduzindo dashboards personalizáveis e outras ferramentas poderosas para tornar sua experiência ainda mais produtiva e eficiente.
    </p>
        
{% endblock %}