{% extends "global/base.html" %}

{% block content %}

    {% include 'employees/partials/nav.html' %}

    <div class="container d-flex justify-content-center align-items-center flex-column mt-5">
        <h2 class="fw-light text-align-center">Cadastrar Endereço</h2>
        <div class="container mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="row row-cols-2 row-cols-lg-2">
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_employee" class="form-label">Funcionário</label>
                        {{ new_address_form.employee }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="" class="form-label">CEP</label>
                        {{ new_address_form.postal_code }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_street" class="form-label">Endereço</label>
                        {{ new_address_form.street }}
                    </div>
                    
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_numero" class="form-label">Número</label>
                        {{ new_address_form.number}}
                    </div>
                    
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_state" class="form-label">Estado</label>
                        {{ new_address_form.state }}
                    </div>
                    
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_city" class="form-label">Cidade</label>
                        {{ new_address_form.city }}
                    </div>
                    <div class="col-md-12 d-flex gap-2 mt-3">
                        <input type="submit" value="Cadastrar" class="btn btn-primary">
                        <input type="reset" value="Limpar Campos" class="btn btn-secondary">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock%}