{% extends "global/base.html" %}
{% load widget_tweaks %}
{% block content %}

    {% include 'employees/partials/nav.html' %}
    <div class="container d-flex justify-content-center align-items-center flex-column mt-5">
        <h2 class="fw-light text-align-center">Contato</h2>
        <div class="container mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="row row-cols-2 row-cols-lg-2">
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_employee" class="form-label">Funcionário:</label>
                        {{ new_contact_form.employee|add_class:"form-select" }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_phone_number" class="form-label">Celular:</label>
                        {{ new_contact_form.phone_number|add_class:"form-control" }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_emergency_contact_name" class="form-label">Nome para emergencia:</label>
                        {{ new_contact_form.emergency_contact_name|add_class:"form-control" }}
                    </div>
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_emergency_contact_number" class="form-label">Contato para emergencia:</label>
                        {{ new_contact_form.emergency_contact_number|add_class:"form-control" }}
                    </div>
                </div>
                {% include 'employees/partials/button.html'%}
            </div>
        </form>
    </div>
        </div>
        </form>
    </div>
{% endblock %}
