{% extends "global/base.html" %}
{% load widget_tweaks %}
{% block title %} Atualizar Funcionário {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column mt-5">
    <h2 class="fw-light text-align-center">Atualizar dados pessoais</h2>
    <div class="container mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="row row-cols-lg-12">
                <div class="form-group col-md-2 d-flex flex-column">
                    <label for="id_cpf" class="form-label">CPF:</label>
                    {{ form.cpf|add_class:"form-control" }}
                </div>
                <div class="col-md-5 d-flex flex-column">
                    <label for="id_name" class="form-label">Nome:</label>
                    {{ form.name|add_class:"form-control" }}
                </div>
                <div class="col-md-5 d-flex flex-column">
                    <label for="id_mother" class="form-label">Nome da mãe:</label>
                    {{ form.name_mother|add_class:"form-control" }}
                </div>
                <div class="col-md-4 d-flex flex-column">
                    <label for="id_email" class="form-label">E-mail:</label>
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="col-md-3 d-flex flex-column">
                    <label for="id_birth_date" class="form-label">Data de nascimento:</label>
                    {{ form.birth_date|add_class:"form-control" }}
                </div>
                <div class="col-md-2 d-flex flex-column">
                    <label for="id_sex" class="form-label">Sexo:</label>
                    {{ form.sex|add_class:"form-select" }}
                </div>
                <div class="col-md-2 d-flex flex-column">
                    <label for="id_sex" class="form-label">Status:</label>
                    {{ form.status|add_class:"form-select" }}
                </div>

                <div class="col-md-12 d-flex gap-2 mt-3">
                    <input type="submit" value="Salvar Alterações" class="btn btn-success">
                    <a href="{% url 'employee_details' pk=object.pk %}" class="btn btn-secondary">Cancelar</a>
                </di>

            </div>
        </form>
    </div>
</div>
{% endblock %}
