{% extends "global/base.html" %}
{% load widget_tweaks %}
{% block title %} Atualizar Endereço {% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center flex-column mt-5">
        <h2 class="fw-light text-align-center">Atualizar Endereço</h2>
        <div class="container mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="row row-cols-2 row-cols-lg-2">
                    <div class="col-md-12 d-flex flex-column">
                        <label for="" class="form-label">CEP</label>
                        {{ form.postal_code|add_class:"form-control" }}
                    </div>

                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_street" class="form-label">Rua</label>
                        {{ form.street|add_class:"form-control" }}
                    </div>

                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_street" class="form-label">Bairro</label>
                        {{ form.neighborhood|add_class:"form-control" }}
                    </div>
                    
                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_city" class="form-label">Cidade</label>
                        {{ form.city|add_class:"form-control" }}
                    </div>

                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_state" class="form-label">Estado</label>
                        {{ form.state|add_class:"form-control" }}
                    </div>

                    <div class="col-md-12 d-flex flex-column">
                        <label for="id_numero" class="form-label">Número</label>
                        {{ form.number|add_class:"form-control"}}
                    </div>
                </div>
                {% include 'employees/partials/button_update.html' %}
            </form>
        </div>
    </div>
{% endblock %}
