<nav class="navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-center align-items-center  collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav gap-4">
                <li><a type="button" link-underline-opacity-75-hover class="dropdown-item" href="#"><i class="fi fi-rr-user"> Cadastro de Funcionários</i></a></li>
                <li><a class="dropdown-item" href="{% url 'register_address' %}"><i class="fi fi-rr-marker"></i> Endereço </a></li>
                <li><a class="dropdown-item" href="{% url 'register_formofpayment' %}"><i class="fi fi-rr-dollar"></i> Chaves PIX </a></li>
                <li><a class="dropdown-item" href="{% url 'register_contact' %}"><i class="fi fi-rr-phone-call"></i> Contatos </a></li>
            </ul>
        </div>
    </div>
</nav>